USE [gpm_codeCaFeMienPhi]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](250) NULL,
	[CongTy] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SDT] [nvarchar](50) NULL,
	[TinhGio] [int] NULL,
	[TestDuLieu] [nvarchar](255) NULL,
	[ReportBill] [int] NULL,
	[MayIn] [nvarchar](255) NULL,
	[CauHinhServer] [int] NULL,
	[GiaoDienApDung] [int] NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Setting] ON
INSERT [dbo].[Setting] ([ID], [TieuDe], [CongTy], [DiaChi], [SDT], [TinhGio], [TestDuLieu], [ReportBill], [MayIn], [CauHinhServer], [GiaoDienApDung]) VALUES (1, N'', N'Cửa Hàng 1', N'198B10 Hàm Nghi, Long Xuyên - AG', N'02966.275.595', 0, N'd9fd598e4ea9bc5deef68ae5fe1299871bebb033', 80, N'XP-80C', 1, 1)
SET IDENTITY_INSERT [dbo].[Setting] OFF
/****** Object:  Table [dbo].[CF_TongChi]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_TongChi](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoaiChi] [nvarchar](250) NULL,
	[TienChi] [float] NULL,
	[NgayChi] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DaXoa] [int] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_TongChi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CF_NhomNguoiDung]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_NhomNguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [nvarchar](50) NULL,
	[TenNhom] [nvarchar](250) NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_CF_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_NhomNguoiDung] ON
INSERT [dbo].[CF_NhomNguoiDung] ([ID], [MaNhom], [TenNhom], [NgayCapNhat]) VALUES (1, N'0001', N'Nhóm Quản Trị', CAST(0x0000A7D000BBE141 AS DateTime))
INSERT [dbo].[CF_NhomNguoiDung] ([ID], [MaNhom], [TenNhom], [NgayCapNhat]) VALUES (2, N'0002', N'Nhóm Thu Ngân', CAST(0x0000A7D000BBEA6E AS DateTime))
SET IDENTITY_INSERT [dbo].[CF_NhomNguoiDung] OFF
/****** Object:  Table [dbo].[CF_NhomHangHoa]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_NhomHangHoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [nvarchar](50) NULL,
	[TenNhom] [nvarchar](250) NULL,
	[GhiChu] [nvarchar](250) NULL,
	[NgayCapNhat] [datetime] NULL,
	[DaXoa] [int] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_NhomHangHoa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_NhomHangHoa] ON
INSERT [dbo].[CF_NhomHangHoa] ([ID], [MaNhom], [TenNhom], [GhiChu], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (78, N'', N'Nước giải khát', N'', CAST(0x0000A8AA00C3F0EC AS DateTime), 0, 0)
INSERT [dbo].[CF_NhomHangHoa] ([ID], [MaNhom], [TenNhom], [GhiChu], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (79, N'', N'Điểm tâm', N'', CAST(0x0000A8AA00C3F897 AS DateTime), 0, 0)
INSERT [dbo].[CF_NhomHangHoa] ([ID], [MaNhom], [TenNhom], [GhiChu], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (90, N'', N'Thuốt hút', N'', CAST(0x0000A8AA00F5D1CF AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[CF_NhomHangHoa] OFF
/****** Object:  Table [dbo].[CF_NguoiDung]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [nvarchar](50) NULL,
	[TenNguoiDung] [nvarchar](250) NULL,
	[TenDangNhap] [nvarchar](250) NULL,
	[SDT] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[Email] [nvarchar](150) NULL,
	[IDNhomNguoiDung] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DaXoa] [int] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_NguoiDung] ON
INSERT [dbo].[CF_NguoiDung] ([ID], [MaNhanVien], [TenNguoiDung], [TenDangNhap], [SDT], [MatKhau], [Email], [IDNhomNguoiDung], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (1, N'0000001', N'Hệ Thống', N'ADMIN', N'01674799994', N'601f1889667efaebb33b8c12572835da3f27f78', N'luanhv@gpm.vn', 1, CAST(0x0000A8C900C03582 AS DateTime), 0, 0)
INSERT [dbo].[CF_NguoiDung] ([ID], [MaNhanVien], [TenNguoiDung], [TenDangNhap], [SDT], [MatKhau], [Email], [IDNhomNguoiDung], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (7, N'0000007', N'Thu Ngân', N'THUNGAN1', N'1', N'cf7579954ba3792f6a4044c32f28fb62b10863f', N'', 2, CAST(0x0000A8AA01031DB7 AS DateTime), 0, 0)
INSERT [dbo].[CF_NguoiDung] ([ID], [MaNhanVien], [TenNguoiDung], [TenDangNhap], [SDT], [MatKhau], [Email], [IDNhomNguoiDung], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (8, N'0000003', N'Quản Trị', N'QUANTRI1', N'1', N'cf7579954ba3792f6a4044c32f28fb62b10863f', N'', 1, CAST(0x0000A8AA010325B1 AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[CF_NguoiDung] OFF
/****** Object:  Table [dbo].[CF_LichSuThayDoiGia]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_LichSuThayDoiGia](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDNguoiDung] [int] NULL,
	[MaHang] [nvarchar](50) NULL,
	[TenHang] [nvarchar](50) NULL,
	[IDDVT] [int] NULL,
	[GiaCu] [float] NULL,
	[GiaMoi] [float] NULL,
	[NgayThayDoi] [datetime] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_GPM_LichSuThayDoiGia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_LichSuThayDoiGia] ON
INSERT [dbo].[CF_LichSuThayDoiGia] ([ID], [IDNguoiDung], [MaHang], [TenHang], [IDDVT], [GiaCu], [GiaMoi], [NgayThayDoi], [IDChiNhanh]) VALUES (1, 8, N'00007', N'7 Up', 40, 12000, 15000, CAST(0x0000A8C9009AC5B9 AS DateTime), NULL)
INSERT [dbo].[CF_LichSuThayDoiGia] ([ID], [IDNguoiDung], [MaHang], [TenHang], [IDDVT], [GiaCu], [GiaMoi], [NgayThayDoi], [IDChiNhanh]) VALUES (3, 8, N'00001', N'7 Up', 71, 10000, 10000, CAST(0x0000A8CF0089178F AS DateTime), 0)
INSERT [dbo].[CF_LichSuThayDoiGia] ([ID], [IDNguoiDung], [MaHang], [TenHang], [IDDVT], [GiaCu], [GiaMoi], [NgayThayDoi], [IDChiNhanh]) VALUES (4, 8, N'0', N'Cơm Tấm', 38, 20000, 20000, CAST(0x0000A8CF008931B4 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[CF_LichSuThayDoiGia] OFF
/****** Object:  Table [dbo].[CF_LichSuThaoTac]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_LichSuThaoTac](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HoatDong] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[IDNhanVien] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_LichSuThaoTac] ON
INSERT [dbo].[CF_LichSuThaoTac] ([ID], [HoatDong], [ThoiGian], [ChiTiet], [IDNhanVien]) VALUES (101, N'Cập Nhật Số Lượng', CAST(0x0000A8D0010B6D8B AS DateTime), N' Bàn: Bàn 2 ;Hàng Hóa: Cafe ;Số Lượng: 3', 8)
INSERT [dbo].[CF_LichSuThaoTac] ([ID], [HoatDong], [ThoiGian], [ChiTiet], [IDNhanVien]) VALUES (103, N'Cập Nhật Số Lượng', CAST(0x0000A8D0010C4A3E AS DateTime), N' Bàn: Bàn 2 ;Hàng Hóa: 7 Up ;Số Lượng: -1', 8)
INSERT [dbo].[CF_LichSuThaoTac] ([ID], [HoatDong], [ThoiGian], [ChiTiet], [IDNhanVien]) VALUES (104, N'Cập Nhật Số Lượng', CAST(0x0000A8D0010D04BD AS DateTime), N' Bàn: Bàn 6 ;Hàng Hóa: 7 Up ;Số Lượng: -1', 8)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[CF_LichSuThaoTac] OFF
/****** Object:  Table [dbo].[CF_KhuVuc]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_KhuVuc](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKhuVuc] [nvarchar](50) NULL,
	[KyHieu] [nvarchar](50) NULL,
	[TenKhuVuc] [nvarchar](250) NULL,
	[GiaKhuVuc] [float] NULL,
	[IDChiNhanh] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DaXoa] [int] NULL,
	[GhiChu] [nvarchar](250) NULL,
	[IDBangGia] [int] NULL,
 CONSTRAINT [PK_CF_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_KhuVuc] ON
INSERT [dbo].[CF_KhuVuc] ([ID], [MaKhuVuc], [KyHieu], [TenKhuVuc], [GiaKhuVuc], [IDChiNhanh], [NgayCapNhat], [DaXoa], [GhiChu], [IDBangGia]) VALUES (1, N'KA', N'KA', N'Khu A', NULL, 0, CAST(0x0000A8CF008C0B50 AS DateTime), 0, N'', 2)
INSERT [dbo].[CF_KhuVuc] ([ID], [MaKhuVuc], [KyHieu], [TenKhuVuc], [GiaKhuVuc], [IDChiNhanh], [NgayCapNhat], [DaXoa], [GhiChu], [IDBangGia]) VALUES (2, N'KB', N'KB', N'Khu B', NULL, 0, CAST(0x0000A8CF0096497C AS DateTime), 0, N'', 2)
SET IDENTITY_INSERT [dbo].[CF_KhuVuc] OFF
/****** Object:  Table [dbo].[CF_KetCa]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_KetCa](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[TongTienSauCa] [float] NULL,
	[IDNhanVien] [int] NULL,
	[IDChiNhanh] [int] NULL,
	[TongTien] [float] NULL,
	[GiamGia] [float] NULL,
 CONSTRAINT [PK_CF_KetCa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_KetCa] ON
INSERT [dbo].[CF_KetCa] ([ID], [ThoiGianBatDau], [ThoiGianKetThuc], [TongTienSauCa], [IDNhanVien], [IDChiNhanh], [TongTien], [GiamGia]) VALUES (9, CAST(0x0000A8AC00EB6B30 AS DateTime), CAST(0x0000A8AC00EBEF86 AS DateTime), 198000, 7, 0, 208000, 10000)
INSERT [dbo].[CF_KetCa] ([ID], [ThoiGianBatDau], [ThoiGianKetThuc], [TongTienSauCa], [IDNhanVien], [IDChiNhanh], [TongTien], [GiamGia]) VALUES (10, CAST(0x0000A8AC00ECC994 AS DateTime), CAST(0x0000A8AC00ED264C AS DateTime), 72000, 7, 0, 83000, 11000)
INSERT [dbo].[CF_KetCa] ([ID], [ThoiGianBatDau], [ThoiGianKetThuc], [TongTienSauCa], [IDNhanVien], [IDChiNhanh], [TongTien], [GiamGia]) VALUES (11, CAST(0x0000A8AC00EF3EE0 AS DateTime), CAST(0x0000A8AC00F31978 AS DateTime), 2458600, 7, 0, 2588000, 129400)
SET IDENTITY_INSERT [dbo].[CF_KetCa] OFF
/****** Object:  Table [dbo].[CF_HangHoa]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_HangHoa](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaHangHoa] [nvarchar](50) NULL,
	[TenHangHoa] [nvarchar](250) NULL,
	[GiaBan] [float] NULL,
	[IDDonViTinh] [int] NULL,
	[IDNhomHang] [int] NULL,
	[DaXoa] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[GhiChu] [nvarchar](250) NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_HangHoa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_HangHoa] ON
INSERT [dbo].[CF_HangHoa] ([ID], [MaHangHoa], [TenHangHoa], [GiaBan], [IDDonViTinh], [IDNhomHang], [DaXoa], [NgayCapNhat], [GhiChu], [IDChiNhanh]) VALUES (1, N'1', N'7 Up', 10000, 71, 78, 0, CAST(0x0000A8CF0089178F AS DateTime), N'', 0)
INSERT [dbo].[CF_HangHoa] ([ID], [MaHangHoa], [TenHangHoa], [GiaBan], [IDDonViTinh], [IDNhomHang], [DaXoa], [NgayCapNhat], [GhiChu], [IDChiNhanh]) VALUES (2, N'2', N'Cơm Tấm', 20000, 38, 79, 0, CAST(0x0000A8CF008931B4 AS DateTime), N'', 0)
INSERT [dbo].[CF_HangHoa] ([ID], [MaHangHoa], [TenHangHoa], [GiaBan], [IDDonViTinh], [IDNhomHang], [DaXoa], [NgayCapNhat], [GhiChu], [IDChiNhanh]) VALUES (3, N'3', N'Cafe', 15000, 36, 78, 0, CAST(0x0000A8CF008A1EDC AS DateTime), N'', 0)
SET IDENTITY_INSERT [dbo].[CF_HangHoa] OFF
/****** Object:  Table [dbo].[CF_Gio]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_Gio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaGio] [nvarchar](50) NULL,
	[TyLe] [int] NULL,
	[GioBatDau] [datetime] NULL,
	[GioKetThuc] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_CF_Gio] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CF_DonViTinh]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_DonViTinh](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDonViTinh] [nvarchar](255) NULL,
	[NgayCapNhat] [datetime] NULL,
	[DaXoa] [int] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_DonViTinh] ON
INSERT [dbo].[CF_DonViTinh] ([ID], [TenDonViTinh], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (35, N'CÁI', CAST(0x0000A8AA00C3868B AS DateTime), 0, 0)
INSERT [dbo].[CF_DonViTinh] ([ID], [TenDonViTinh], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (36, N'LY', CAST(0x0000A8AA00C38BAA AS DateTime), 0, 0)
INSERT [dbo].[CF_DonViTinh] ([ID], [TenDonViTinh], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (37, N'CHÉN', CAST(0x0000A8AA00C39090 AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[CF_DonViTinh] OFF
/****** Object:  Table [dbo].[CF_DatBan]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_DatBan](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[GioDat] [nvarchar](150) NULL,
	[IDBan] [int] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_DatBan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CF_Ban]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_Ban](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](250) NULL,
	[IDKhuVuc] [int] NULL,
	[TrangThai] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[IDChiNhanh] [int] NULL,
	[DaXoa] [int] NULL,
	[MaBan] [nvarchar](50) NULL,
 CONSTRAINT [PK_CF_Ban] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_Ban] ON
INSERT [dbo].[CF_Ban] ([ID], [TenBan], [IDKhuVuc], [TrangThai], [NgayCapNhat], [IDChiNhanh], [DaXoa], [MaBan]) VALUES (1, N'Bàn 1', 1, 2, CAST(0x0000A8CF008A7DA9 AS DateTime), 0, 0, NULL)
INSERT [dbo].[CF_Ban] ([ID], [TenBan], [IDKhuVuc], [TrangThai], [NgayCapNhat], [IDChiNhanh], [DaXoa], [MaBan]) VALUES (2, N'Bàn 2', 1, 0, CAST(0x0000A8CF008A8ACA AS DateTime), 0, 0, NULL)
INSERT [dbo].[CF_Ban] ([ID], [TenBan], [IDKhuVuc], [TrangThai], [NgayCapNhat], [IDChiNhanh], [DaXoa], [MaBan]) VALUES (3, N'Bàn 3', 1, 0, CAST(0x0000A8CF008A7DA9 AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[CF_Ban] OFF
/****** Object:  Table [dbo].[CF_ChiTietHoaDon]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_ChiTietHoaDon](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDHoaDon] [int] NULL,
	[IDHangHoa] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[IDBan] [int] NULL,
	[MaHangHoa] [nvarchar](50) NULL,
	[IDDonViTinh] [int] NULL,
	[TrongLuong] [float] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_ChiTietHoaDon_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CF_ChiTietGio]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_ChiTietGio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GioBatDau] [datetime] NULL,
	[GioKetThuc] [datetime] NULL,
	[TongGioChoi] [nvarchar](255) NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[IDBan] [int] NULL,
	[IDHoaDon] [int] NULL,
	[TrangThai] [int] NULL,
	[ThanhToan] [int] NULL,
 CONSTRAINT [PK_CF_ChiTietGio] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CF_ChiTietBangGia]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_ChiTietBangGia](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDBangGia] [int] NULL,
	[IDHangHoa] [int] NULL,
	[GiaCu] [float] NULL,
	[GiaMoi] [float] NULL,
	[DaXoa] [int] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_ChiTietBangGia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_ChiTietBangGia] ON
INSERT [dbo].[CF_ChiTietBangGia] ([ID], [IDBangGia], [IDHangHoa], [GiaCu], [GiaMoi], [DaXoa], [IDChiNhanh]) VALUES (1, 1, 1, 10000, 10000, 0, 0)
INSERT [dbo].[CF_ChiTietBangGia] ([ID], [IDBangGia], [IDHangHoa], [GiaCu], [GiaMoi], [DaXoa], [IDChiNhanh]) VALUES (2, 1, 2, 20000, 20000, 0, 0)
INSERT [dbo].[CF_ChiTietBangGia] ([ID], [IDBangGia], [IDHangHoa], [GiaCu], [GiaMoi], [DaXoa], [IDChiNhanh]) VALUES (3, 1, 3, 15000, 15000, 0, 0)
SET IDENTITY_INSERT [dbo].[CF_ChiTietBangGia] OFF
/****** Object:  Table [dbo].[CF_ChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_ChiNhanh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [nvarchar](50) NULL,
	[TenChiNhanh] [nvarchar](250) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[NgayMo] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DaXoa] [int] NULL,
	[ReportBill] [int] NULL,
	[MayIn] [nvarchar](255) NULL,
	[GiaoDienApDung] [int] NULL,
	[DuLieuMau] [int] NULL,
	[KeyCaiDat] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
 CONSTRAINT [PK_CF_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_ChiNhanh] ON
INSERT [dbo].[CF_ChiNhanh] ([ID], [MaChiNhanh], [TenChiNhanh], [DienThoai], [DiaChi], [NgayMo], [NgayCapNhat], [DaXoa], [ReportBill], [MayIn], [GiaoDienApDung], [DuLieuMau], [KeyCaiDat], [Email]) VALUES (0, N'0', N'Caffe GPM', N'02966.275.595 - 0902.777.186', N'198B10, Hàm Nghi, Bình Khánh, Long Xuyên', CAST(0x0000A8C400000000 AS DateTime), CAST(0x0000A8CE0110D5F9 AS DateTime), 0, 80, N'', 0, 1, N'MW1BS-A0K3I-VA7W1-YJUWQ-M8GNK', N'vudt@gpm.vn')
SET IDENTITY_INSERT [dbo].[CF_ChiNhanh] OFF
/****** Object:  StoredProcedure [dbo].[pro_GetTemp]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pro_GetTemp]
AS
BEGIN
	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='dbo' AND TABLE_NAME='temp')
	SELECT * FROM temp
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveBan]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveBan]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_Ban WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_Ban SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_Ban SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInBan]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************/
/*******************************BAN*********************************/
/**************************************************************************/
CREATE PROC [dbo].[rp_UpInBan]
			@id bigint
           ,@TenBan nvarchar(250)
           ,@IDKhuVuc bigint
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	select @checkNull = COUNT(*) from dbo.CF_Ban where id=@id
	select @checkDuplicate = COUNT(*) from dbo.CF_Ban where TenBan=@TenBan and ID <> @id
 
  IF(@checkDuplicate>0)
 return -1
 ELSE
 IF(@checkNull>0)
 BEGIN
UPDATE [dbo].[CF_Ban]
   SET [TenBan] = @TenBan
      ,[IDKhuVuc] = @IDKhuVuc
      ,[NgayCapNhat] = @NgayCapNhat
	  WHERE id=@id
 END
 ELSE
 BEGIN
INSERT INTO [dbo].[CF_Ban]
           ([TenBan]
           ,[IDKhuVuc]
           ,[NgayCapNhat]
           )
     VALUES
           (@TenBan
           ,@IDKhuVuc
           ,@NgayCapNhat)
 END
END
GO
/****** Object:  Table [dbo].[CF_BangGia]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_BangGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenBangGia] [nvarchar](250) NULL,
	[NgayCapNhat] [datetime] NULL,
	[DaXoa] [int] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_BangGia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_BangGia] ON
INSERT [dbo].[CF_BangGia] ([ID], [TenBangGia], [NgayCapNhat], [DaXoa], [IDChiNhanh]) VALUES (2, N'Bảng Giá 1', CAST(0x0000A8CF008BFB27 AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[CF_BangGia] OFF
/****** Object:  Table [dbo].[CF_HoaDon]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_HoaDon](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GioVao] [datetime] NULL,
	[GioRa] [datetime] NULL,
	[IDBan] [int] NULL,
	[TrangThai] [int] NULL,
	[MaHoaDon] [nvarchar](50) NULL,
	[IDNhanVien] [int] NULL,
	[TongTien] [float] NULL,
	[GiamGia] [float] NULL,
	[KhachCanTra] [float] NULL,
	[KhachThanhToan] [float] NULL,
	[TienThua] [float] NULL,
	[TienGio] [float] NULL,
	[TrangThaiKetCa] [int] NULL,
	[LanIn] [int] NULL,
	[HinhThucGiamGia] [nvarchar](50) NULL,
	[TienGiamGia] [float] NULL,
	[TyLeGiamGia] [float] NULL,
	[NgayBan] [datetime] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_HoaDon] ON
INSERT [dbo].[CF_HoaDon] ([ID], [GioVao], [GioRa], [IDBan], [TrangThai], [MaHoaDon], [IDNhanVien], [TongTien], [GiamGia], [KhachCanTra], [KhachThanhToan], [TienThua], [TienGio], [TrangThaiKetCa], [LanIn], [HinhThucGiamGia], [TienGiamGia], [TyLeGiamGia], [NgayBan], [IDChiNhanh]) VALUES (99, CAST(0x0000A8D100EB2CA2 AS DateTime), NULL, 1, 0, NULL, 8, 110000, 0, 110000, 0, 0, 0, 0, 0, N'$', 0, 0, CAST(0x0000A8D100EB2CA2 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[CF_HoaDon] OFF
/****** Object:  StoredProcedure [dbo].[rp_ActiveTongChi]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveTongChi]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_TongChi WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_TongChi SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_TongChi SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveNhomHangHoa]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveNhomHangHoa]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_NhomHangHoa WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_NhomHangHoa SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_NhomHangHoa SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveNguoiDung]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveNguoiDung]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_NguoiDung WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_NguoiDung SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_NguoiDung SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveKhuVuc]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveKhuVuc]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_KhuVuc WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_KhuVuc SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_KhuVuc SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveHangHoa]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveHangHoa]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_HangHoa WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_HangHoa SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_HangHoa SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveDonViTinh]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveDonViTinh]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_DonViTinh WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_DonViTinh SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_DonViTinh SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveChiTietBangGia]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveChiTietBangGia]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.[CF_ChiTietBangGia] WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.[CF_ChiTietBangGia] SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.[CF_ChiTietBangGia] SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInTongChi]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************/
/*******************************TONG CHI*********************************/
/**************************************************************************/
CREATE PROC [dbo].[rp_UpInTongChi]
			@id bigint
			,@LoaiChi nvarchar(250)
			,@TienChi float
			,@NgayChi datetime
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	select @checkNull = COUNT(*) from dbo.CF_TongChi where id=@id
	/*select @checkDuplicate = COUNT(*) from dbo.CF_TongChi where LoaiChi=@LoaiChi and ID <> @id
 
  IF(@checkDuplicate>0)
 return -1
 ELSE*/
 IF(@checkNull>0)
 BEGIN
UPDATE [dbo].[CF_TongChi]
   SET [LoaiChi] = @LoaiChi
      ,[TienChi] = @TienChi
      ,[NgayChi] = @NgayChi
      ,[NgayCapNhat] = @NgayCapNhat
	  WHERE id=@id
 END
 ELSE
 BEGIN
	INSERT INTO [gpm_codeCaFeMienPhi].[dbo].[CF_TongChi]
           ([LoaiChi]
           ,[TienChi]
           ,[NgayChi]
           ,[NgayCapNhat])
     VALUES
           (@LoaiChi
           ,@TienChi
           ,@NgayChi
           ,@NgayCapNhat)
  END
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInNhomHangHoa]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************/
/*******************************NHOM HANG HOA*********************************/
/**************************************************************************/
CREATE PROC [dbo].[rp_UpInNhomHangHoa]
			@id bigint
           ,@TenNhom nvarchar(250)
           ,@GhiChu nvarchar(250)
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	select @checkNull = COUNT(*) from dbo.CF_NhomHangHoa where id=@id
	select @checkDuplicate = COUNT(*) from dbo.CF_NhomHangHoa where TenNhom=@TenNhom and ID <> @id
 
  IF(@checkDuplicate>0)
 return -1
 ELSE
 IF(@checkNull>0)
 BEGIN
UPDATE [dbo].[CF_NhomHangHoa]
   SET [TenNhom] = @TenNhom
      ,[GhiChu] = @GhiChu
      ,[NgayCapNhat] = @NgayCapNhat
	  WHERE id=@id
 END
 ELSE
 BEGIN
	INSERT INTO [dbo].[CF_NhomHangHoa]
           ([TenNhom]
           ,[GhiChu]
           ,[NgayCapNhat])
     VALUES
           (@TenNhom
           ,@GhiChu
           ,@NgayCapNhat)
  END
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInNguoiDung]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_UpInNguoiDung]
			@id bigint
          ,@MaNhanVien nvarchar(50)
		  ,@TenNguoiDung nvarchar(250)
		  ,@TenDangNhap nvarchar(250)
		  ,@SDT nvarchar(50)
		  ,@MatKhau nvarchar(255)
		  ,@IDNhomNguoiDung int
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	select @checkNull = COUNT(*) from dbo.CF_NguoiDung where id=@id
	select @checkDuplicate = COUNT(*) from dbo.CF_NguoiDung where (TenDangNhap=@TenDangNhap or MaNhanVien=@MaNhanVien) and ID <> @id
 
  IF(@checkDuplicate>0)
 return -1
 ELSE
 IF(@checkNull>0)
 BEGIN
 IF(@MatKhau!='null')
 BEGIN
 UPDATE [gpm_codeCaFeMienPhi].[dbo].[CF_NguoiDung]
			   SET [MaNhanVien] = @MaNhanVien
				  ,[TenNguoiDung] = @TenNguoiDung
				  ,[TenDangNhap] = @TenDangNhap
				  ,[SDT] = @SDT
				  ,[MatKhau] = @MatKhau
				  ,[IDNhomNguoiDung] = @IDNhomNguoiDung
				  ,[NgayCapNhat] = @NgayCapNhat
				  WHERE id=@id
 END
 ELSE
 BEGIN
  UPDATE [gpm_codeCaFeMienPhi].[dbo].[CF_NguoiDung]
			   SET [MaNhanVien] = @MaNhanVien
				  ,[TenNguoiDung] = @TenNguoiDung
				  ,[TenDangNhap] = @TenDangNhap
				  ,[SDT] = @SDT
				  ,[IDNhomNguoiDung] = @IDNhomNguoiDung
				  ,[NgayCapNhat] = @NgayCapNhat
				  WHERE id=@id
 END
			
 END
 ELSE
 BEGIN
	INSERT INTO [gpm_codeCaFeMienPhi].[dbo].[CF_NguoiDung]
           ([MaNhanVien]
           ,[TenNguoiDung]
           ,[TenDangNhap]
           ,[SDT]
           ,[MatKhau]
           ,[IDNhomNguoiDung]
           ,[NgayCapNhat])
     VALUES
           (@MaNhanVien
           ,@TenNguoiDung
           ,@TenDangNhap
           ,@SDT
           ,@MatKhau
           ,@IDNhomNguoiDung
           ,@NgayCapNhat)
  END
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInKhuVuc]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************/
/*******************************KHU VUC*********************************/
/**************************************************************************/
CREATE PROC [dbo].[rp_UpInKhuVuc]
			 @id bigint
			,@MaKhuVuc nvarchar(50)
			,@KyHieu nvarchar(50)
			,@TenKhuVuc nvarchar(250)
			,@GhiChu nvarchar(250)
			,@IDBangGia int
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	select @checkNull = COUNT(*) from dbo.CF_KhuVuc where id=@id
	select @checkDuplicate = COUNT(*) from dbo.CF_KhuVuc where TenKhuVuc=@TenKhuVuc and ID <> @id
 
  IF(@checkDuplicate>0)
 return -1
 ELSE
 IF(@checkNull>0)
 BEGIN
	UPDATE [dbo].[CF_KhuVuc]
   SET [MaKhuVuc] = @MaKhuVuc
      ,[KyHieu] = @KyHieu
      ,[TenKhuVuc] = @TenKhuVuc
      ,[NgayCapNhat] = @NgayCapNhat
      ,[GhiChu] = @GhiChu
      ,[IDBangGia] = @IDBangGia
	  WHERE id=@id
 END
 ELSE
 BEGIN

 INSERT INTO [dbo].[CF_KhuVuc]
           ([MaKhuVuc]
           ,[KyHieu]
           ,[TenKhuVuc]
           ,[NgayCapNhat]
           ,[GhiChu]
           ,[IDBangGia])
     VALUES
           (@MaKhuVuc
           ,@KyHieu
           ,@TenKhuVuc         
           ,@NgayCapNhat
           ,@GhiChu
           ,@IDBangGia)
 END
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInHangHoa]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_UpInHangHoa]
			 @id bigint
			,@MaHangHoa nvarchar(50)
			,@TenHangHoa nvarchar(250)
			,@GiaBan float
			,@IDDonViTinh  bigint
			,@IDNhomHang  bigint
			,@GhiChu nvarchar(250)
			,@IDNguoiDung BIGINT
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
DECLARE @GiaCu FLOAT
	SET @NgayCapNhat = GETDATE()
	select @checkNull = ID,@GiaCu=GiaBan from dbo.CF_HangHoa where id=@id
	select @checkDuplicate = COUNT(*) from dbo.CF_HangHoa where MaHangHoa=@MaHangHoa and IDNhomHang=@IDNhomHang and ID <> @id
 
  IF(@checkDuplicate>0)
 return -1
 ELSE
 IF(@checkNull>0)
 BEGIN
UPDATE [gpm_codeCaFeMienPhi].[dbo].[CF_HangHoa]
   SET [MaHangHoa] = @MaHangHoa
	  ,[TenHangHoa] = @TenHangHoa
      ,[GiaBan] = @GiaBan
      ,[IDDonViTinh] = @IDDonViTinh
      ,[IDNhomHang] = @IDNhomHang
      ,[GhiChu] = @GhiChu
      ,[NgayCapNhat] = @NgayCapNhat
	  WHERE id=@id
	--Them vao bang chi tiet hang hoa
	INSERT INTO [dbo].[CF_LichSuThayDoiGia]
           ([IDNguoiDung]
           ,[MaHang]
           ,[TenHang]
           ,[IDDVT]
           ,[GiaCu]
           ,[GiaMoi]
           ,[NgayThayDoi])
     VALUES
           (@IDNguoiDung
           ,@MaHangHoa
           ,@TenHangHoa
           ,@IDDonViTinh
           ,@GiaCu
           ,@GiaBan
           ,@NgayCapNhat)
	  
 END
 ELSE
 BEGIN
	INSERT INTO [gpm_codeCaFeMienPhi].[dbo].[CF_HangHoa]
           ([MaHangHoa]
		   ,[TenHangHoa]
           ,[GiaBan]
           ,[IDDonViTinh]
           ,[IDNhomHang]
           ,[NgayCapNhat]
           ,[GhiChu]
           )
     VALUES
           (@MaHangHoa
           ,@TenHangHoa
           ,@GiaBan
           ,@IDDonViTinh
           ,@IDNhomHang          
           ,@NgayCapNhat
           ,@GhiChu)
   --Them vao bang chi tiet hang hoa
	INSERT INTO [dbo].[CF_LichSuThayDoiGia]
           ([IDNguoiDung]
           ,[MaHang]
           ,[TenHang]
           ,[IDDVT]
           ,[GiaCu]
           ,[GiaMoi]
           ,[NgayThayDoi])
     VALUES
           (@IDNguoiDung
           ,@MaHangHoa
           ,@TenHangHoa
           ,@IDDonViTinh
           ,@GiaBan
           ,@GiaBan
           ,@NgayCapNhat)
  END
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInDonViTinh]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************PROCEDUE**************************/
/**************************************************************************/
/******************************* DONVITINH*********************************/
/**************************************************************************/
CREATE PROC [dbo].[rp_UpInDonViTinh]
@id bigint,
@TenDonViTinh nvarchar(255)
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	select @checkNull = COUNT(*) from dbo.CF_DonViTinh where id=@id
	select @checkDuplicate = COUNT(*) from dbo.CF_DonViTinh where TenDonViTinh=@TenDonViTinh and ID <> @id
 IF(@checkNull>0)
 BEGIN
	UPDATE [dbo].[CF_DonViTinh]
   SET [TenDonViTinh] =@TenDonViTinh
      ,[NgayCapNhat] = @NgayCapNhat
	  WHERE id=@id
 END
 ELSE
 BEGIN
 IF(@checkDuplicate>0)
 return -1
 ELSE
 INSERT INTO [dbo].[CF_DonViTinh]
           ([TenDonViTinh]
           ,[NgayCapNhat])
     VALUES
           (@TenDonViTinh
           ,@NgayCapNhat)
 END
 
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInChiTietBangGia]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_UpInChiTietBangGia]
			 @ID bigint
			,@GiaMoi float
			,@IDBangGia bigint
			,@IDHangHoa bigint
			,@IDNguoiDung bigint
as
BEGIN
DECLARE @TenHang nvarchar(50)
DECLARE @IDDVT INT
DECLARE @GiaCu FLOAT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	SELECT @TenHang=TenHangHoa,@IDDVT=IDDonViTinh FROM CF_HangHoa WHERE ID=@IDHangHoa
	SELECT @GiaCu=GiaMoi FROM [dbo].[CF_ChiTietBangGia] WHERE ID=@ID

UPDATE [dbo].[CF_ChiTietBangGia]
   SET [GiaMoi] = @GiaMoi
	  WHERE id=@ID
	  	  
	  INSERT INTO [dbo].[CF_LichSuThayDoiGia]
           ([IDNguoiDung]
           ,[MaHang]
           ,[TenHang]
           ,[IDDVT]
           ,[GiaCu]
           ,[GiaMoi]
           ,[NgayThayDoi])
     VALUES
           (@IDNguoiDung
           ,@IDHangHoa
           ,@TenHang
           ,@IDDVT
           ,@GiaCu
           ,@GiaMoi
           ,@NgayCapNhat)
END
GO
/****** Object:  StoredProcedure [dbo].[rp_UpInBangGia]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_UpInBangGia]
@id bigint,
@TenBangGia nvarchar(255)
as
BEGIN
DECLARE @checkNull INT
DECLARE @checkDuplicate INT
DECLARE @NgayCapNhat DATETIME
	SET @NgayCapNhat = GETDATE()
	select @checkNull = COUNT(*) from dbo.CF_BangGia where id=@id
	select @checkDuplicate = COUNT(*) from dbo.CF_BangGia where TenBangGia=@TenBangGia and ID <> @id
  IF(@checkDuplicate>0)
 return -1
 ELSE
 IF(@checkNull>0)
 BEGIN
 
 
	UPDATE [dbo].[CF_BangGia]
   SET [TenBangGia] =@TenBangGia
      ,[NgayCapNhat] = @NgayCapNhat
	  WHERE id=@id
	  
	  
 END
 ELSE
 BEGIN
 INSERT INTO [dbo].[CF_BangGia]
           ([TenBangGia]
           ,[NgayCapNhat])
     VALUES
           (@TenBangGia
           ,@NgayCapNhat)
 END
 
END
GO
/****** Object:  StoredProcedure [dbo].[rp_ActiveBangGia]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_ActiveBangGia]
@id bigint
as
BEGIN
	DECLARE @chechDaXoa int
	SELECT @chechDaXoa =DaXoa FROM dbo.CF_BangGia WHERE ID=@id
	if(@chechDaXoa<=0)
	UPDATE dbo.CF_BangGia SET DaXoa=1 WHERE ID=@id
	ELSE
	UPDATE dbo.CF_BangGia SET DaXoa=0 WHERE ID=@id
END
GO
/****** Object:  Table [dbo].[CF_ChiTietHoaDon_Temp]    Script Date: 04/29/2018 14:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF_ChiTietHoaDon_Temp](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDHoaDon] [int] NULL,
	[IDHangHoa] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[IDBan] [int] NULL,
	[TrongLuong] [float] NULL,
	[IDChiNhanh] [int] NULL,
 CONSTRAINT [PK_CF_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CF_ChiTietHoaDon_Temp] ON
INSERT [dbo].[CF_ChiTietHoaDon_Temp] ([ID], [IDHoaDon], [IDHangHoa], [SoLuong], [DonGia], [ThanhTien], [IDBan], [TrongLuong], [IDChiNhanh]) VALUES (121, 99, 1, 5, 10000, 50000, 1, 0, NULL)
INSERT [dbo].[CF_ChiTietHoaDon_Temp] ([ID], [IDHoaDon], [IDHangHoa], [SoLuong], [DonGia], [ThanhTien], [IDBan], [TrongLuong], [IDChiNhanh]) VALUES (134, 99, 3, 4, 15000, 60000, 2, 0, NULL)
SET IDENTITY_INSERT [dbo].[CF_ChiTietHoaDon_Temp] OFF
/****** Object:  StoredProcedure [dbo].[pr_updateSL]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_updateSL]
@KiemTra INT,
@IDHoaDon BIGINT,
@IDHangHoa BIGINT,
@SoLuong INT,
@IDNhanVien BIGINT
AS
BEGIN
	DECLARE @KiemTraSoLuong INT
	DECLARE @TongTien FLOAT
	DECLARE @KiemTraHoaDon INT
	DECLARE @IDBan BIGINT
	DECLARE @TenHangHoa NVARCHAR(250)
	DECLARE @ChiTiet NVARCHAR(MAX)
	DECLARE @HoatDong NVARCHAR(MAX)
	DECLARE @ID BIGINT
	DECLARE @TenBan NVARCHAR(250)
	DECLARE @KiemTraHangHoaTonTai INT
	SELECT @KiemTraHangHoaTonTai=COUNT(*) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon and IDHangHoa=@IDHangHoa	
	SELECT @ID = ID , @IDBan=IDBan FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon and IDHangHoa=@IDHangHoa
	SELECT @TenHangHoa=TenHangHoa FROm CF_HangHoa WHERE ID = @IDHangHoa
	SELECT @TenBan=TenBan FROM CF_Ban WHERE ID=@IDBan
	
	if(@KiemTra=1)
	SELECT @KiemTraSoLuong = (SoLuong+@SoLuong) FROM CF_ChiTietHoaDon_Temp WHERE ID=@ID
	ELSE
	SET @KiemTraSoLuong = @SoLuong
	
	SELECT @KiemTraHoaDon = COUNT(*) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon
	SET @ChiTiet = N' Bàn: '+@TenBan +N' ;Hàng Hóa: '+@TenHangHoa+N' ;Số Lượng: '+CAST(@SoLuong as NVARCHAR(50))
	SET @HoatDong = N'Cập Nhật Số Lượng'
	--Khi so luong lon hon 0
	IF(@KiemTraHangHoaTonTai>0)
	BEGIN
	IF(@KiemTraSoLuong>0)
	BEGIN
		UPDATE CF_ChiTietHoaDon_Temp SET SoLuong=@KiemTraSoLuong,ThanhTien=(DonGia*@KiemTraSoLuong) WHERE ID=@ID
	END
	ELSE
	BEGIN
			DELETE CF_ChiTietHoaDon_Temp WHERE ID=@ID
			IF(@KiemTraHoaDon=1)
			BEGIN
			 DELETE CF_HoaDon WHERE ID=@IDHoaDon
			 UPDATE CF_Ban SET TrangThai=0 WHERE ID=@IDBan
			END
	END
	INSERT INTO [CF_LichSuThaoTac]
			   ([HoatDong]
			   ,[ThoiGian]
			   ,[ChiTiet]
			   ,[IDNhanVien])
		 VALUES
			   (@HoatDong
			   ,GETDATE()
			   ,@ChiTiet
			   ,@IDNhanVien)
		END	
	SELECT @TongTien = SUM(ThanhTien) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon
	UPDATE CF_HoaDon SET TongTien = @TongTien, KhachCanTra=@TongTien WHERE ID=@IDHoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[pr_GopBan]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_GopBan]
@IDBan1 INT ,@IDBan2 INT ,@IDNhanVien BIGINT 
AS
BEGIN

	DECLARE @IDHoaDon1 int
	DECLARE @IDHoaDon2 int 
	
	DECLARE @KiemTraIDBan1 int =1
	DECLARE @KiemTraIDBan2 int =1
	
	 SELECT @IDHoaDon2 = id FROM dbo.CF_HoaDon WHERE IDBan= @IDBan2 AND TrangThai=0 -- int
	 SELECT @IDHoaDon1 = id FROM dbo.CF_HoaDon WHERE IDBan= @IDBan1 AND TrangThai=0 -- int
	
	IF(@IDHoaDon1 IS NULL)
	BEGIN
		INSERT INTO CF_HoaDon
		([GioVao]
           ,[IDBan]
           ,[IDNhanVien]
           ,[NgayBan])
           VALUES
           (GETDATE()
           ,@IDBan1
           ,@IDNhanVien
           ,GETDATE())
		SELECT @IDHoaDon1 = MAX(id) FROM dbo.CF_HoaDon WHERE IDBan=@IDBan1 AND TrangThai=0					
	END	
	SELECT @KiemTraIDBan1 = COUNT(*) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon1
	IF(@IDHoaDon2 IS NULL)
	BEGIN
		INSERT INTO CF_HoaDon
		([GioVao]
           ,[IDBan]
           ,[IDNhanVien]
           ,[NgayBan])
           VALUES
           (GETDATE()
           ,@IDBan2
           ,@IDNhanVien
           ,GETDATE())
		    SELECT @IDHoaDon2 = MAX(id) FROM dbo.CF_HoaDon WHERE IDBan=@IDBan2 AND TrangThai=0			
		END
	SELECT @KiemTraIDBan2 = COUNT(*) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon2
		
	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='dbo' AND TABLE_NAME='temp')
	DROP TABLE temp
	
	SELECT * INTO temp FROM dbo.CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon1 AND IDHangHoa in(SELECT IDHangHoa FROM dbo.CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon2)
	UPDATE temp SET IDHoaDon= @IDHoaDon2
	
	DELETE dbo.CF_ChiTietHoaDon_Temp WHERE IDHangHoa in(SELECT IDHangHoa FROM dbo.CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon2) AND IDHoaDon=@IDHoaDon1
	UPDATE dbo.CF_ChiTietHoaDon_Temp SET IDHoaDon = @IDHoaDon2 WHERE IDHoaDon = @IDHoaDon1
	
	DELETE dbo.CF_HoaDon WHERE id =@IDHoaDon1
	 
	UPDATE dbo.CF_Ban SET TrangThai=0 WHERE id = @IDBan1

END
GO
/****** Object:  StoredProcedure [dbo].[pr_ChuyenBan]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[pr_ChuyenBan]
@IDBan1 INT ,@IDBan2 INT, @IDNhanVien BIGINT
AS
BEGIN

	DECLARE @IDHoaDon1 int
	DECLARE @IDHoaDon2 int 
	
	DECLARE @KiemTraIDBan1 int =1
	DECLARE @KiemTraIDBan2 int =1
	
	 SELECT @IDHoaDon2 = id FROM dbo.CF_HoaDon WHERE IDBan= @IDBan2 AND TrangThai=0
	 SELECT @IDHoaDon1 = id FROM dbo.CF_HoaDon WHERE IDBan= @IDBan1 AND TrangThai=0
	
	IF(@IDHoaDon1 IS NULL)
	BEGIN
		INSERT INTO CF_HoaDon
		([GioVao]
           ,[IDBan]
           ,[IDNhanVien]
           ,[NgayBan])
           VALUES
           (GETDATE()
           ,@IDBan1
           ,@IDNhanVien
           ,GETDATE())
		SELECT @IDHoaDon1 = MAX(id) FROM dbo.CF_HoaDon WHERE IDBan=@IDBan1 AND TrangThai=0					
	END
	
	SELECT @KiemTraIDBan1 = COUNT(*) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon1
	
		
	IF(@IDHoaDon2 IS NULL)
	BEGIN
		INSERT INTO CF_HoaDon
		([GioVao]
           ,[IDBan]
           ,[IDNhanVien]
           ,[NgayBan])
           VALUES
           (GETDATE()
           ,@IDBan2
           ,@IDNhanVien
           ,GETDATE())
		    SELECT @IDHoaDon2 = MAX(id) FROM dbo.CF_HoaDon WHERE IDBan=@IDBan2 AND TrangThai=0				
		END
	SELECT @KiemTraIDBan2 = COUNT(*) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon2
		
	SELECT id INTO TempTable1 FROM dbo.CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon2
	
	UPDATE dbo.CF_ChiTietHoaDon_Temp SET IDHoaDon = @IDHoaDon2 WHERE IDHoaDon = @IDHoaDon1
	
	UPDATE dbo.CF_ChiTietHoaDon_Temp SET IDHoaDon = @IDHoaDon1 WHERE id IN (SELECT * FROM TempTable1)
	
	DROP TABLE TempTable1
	
	IF(@KiemTraIDBan1=0)
	BEGIN
		DELETE dbo.CF_HoaDon WHERE id =@IDHoaDon2
		UPDATE dbo.CF_Ban SET TrangThai= 0 WHERE id = @IDBan2
	END
	
	IF(@KiemTraIDBan2=0)
	BEGIN
		DELETE dbo.CF_HoaDon WHERE id =@IDHoaDon1
		UPDATE dbo.CF_Ban SET TrangThai=0 WHERE id = @IDBan1
	END
	END
GO
/****** Object:  StoredProcedure [dbo].[rp_GoiMon]    Script Date: 04/29/2018 14:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rp_GoiMon]
@IDBan BIGINT,
@IDHangHoa BIGINT,
@IDNhanVien BIGINT
AS
BEGIN
	DECLARE @IDHoaDon BIGINT
	DECLARE @IDKhuVuc BIGINT
	DECLARE @IDBangGia BIGINT
	DECLARE @TrangThaiBan BIGINT
	DECLARE @KiemTraHangTonTai INT
	DECLARE @DonGia FLOAT
	DECLARE @TongTien FLOAT
	SELECT @TrangThaiBan = TrangThai FROM CF_Ban WHERE ID=@IDBan
	SELECT @IDKhuVuc = IDKhuVuc FROM CF_Ban WHERE ID=@IDBan
	SELECT @IDBangGia = IDBangGia FROM CF_KhuVuc WHERE ID=@IDKhuVuc
	--kiem tra hang hoa co nam trong ban chi tiet hang hoa hay khong va lay gia ban
	IF(@IDBangGia!=0)
	SELECT @DonGia = GiaMoi FROM CF_ChiTietBangGia WHERE IDBangGia=@IDBangGia and IDHangHoa=@IDHangHoa
	ELSE
	SELECT @DonGia = GiaBan FROM CF_HangHoa WHERE ID=@IDHangHoa
	--ban da co nguoi
	IF(@TrangThaiBan=2)
	BEGIN
		SELECT @IDHoaDon=ID FROM CF_HoaDon WHERE IDBan=@IDBan and TrangThai=0
		SELECT @KiemTraHangTonTai=COUNT(*) FROM CF_ChiTietHoaDon_Temp WHERE IDHangHoa = @IDHangHoa and IDHoaDon=@IDHoaDon
		IF(@KiemTraHangTonTai>0)
		BEGIN
			EXEC pr_updateSL 1,@IDHoaDon,@IDHangHoa,1,@IDNhanVien
		END
		ELSE
		BEGIN
			INSERT INTO [gpm_codeCaFeMienPhi].[dbo].[CF_ChiTietHoaDon_Temp]
           ([IDHoaDon]
           ,[IDHangHoa]
           ,[SoLuong]
           ,[DonGia]
           ,[ThanhTien]
           ,[IDBan])
           VALUES
           (@IDHoaDon
           ,@IDHangHoa
           ,1
           ,@DonGia
           ,(@DonGia*1)
           ,@IDBan)
		END	
	END
	--ban chua co nguoi
	ELSE
	BEGIN
		INSERT INTO CF_HoaDon
		([GioVao]
           ,[IDBan]
           ,[IDNhanVien]
           ,[NgayBan])
           VALUES
           (GETDATE()
           ,@IDBan
           ,@IDNhanVien
           ,GETDATE())
           --Update CF_Ban SET TrangThai=2 WHERE ID=@IDBan
           SELECT @IDHoaDon = MAX(id) FROM CF_HoaDon WHERE IDBan=@IDBan and TrangThai=0  
           INSERT INTO [gpm_codeCaFeMienPhi].[dbo].[CF_ChiTietHoaDon_Temp]
           ([IDHoaDon]
           ,[IDHangHoa]
           ,[SoLuong]
           ,[DonGia]
           ,[ThanhTien]
           ,[IDBan])
           VALUES
           (@IDHoaDon
           ,@IDHangHoa
           ,1
           ,@DonGia
           ,(@DonGia*1)
           ,@IDBan)
           SELECT @TongTien = SUM(ThanhTien) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon 
	END
	SELECT @TongTien = SUM(ThanhTien) FROM CF_ChiTietHoaDon_Temp WHERE IDHoaDon=@IDHoaDon
	UPDATE CF_HoaDon SET TongTien = @TongTien, KhachCanTra=@TongTien WHERE ID=@IDHoaDon
END
GO
/****** Object:  Default [DF_CF_Ban_TrangThai]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_Ban] ADD  CONSTRAINT [DF_CF_Ban_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
/****** Object:  Default [DF_CF_Ban_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_Ban] ADD  CONSTRAINT [DF_CF_Ban_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_Ban_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_Ban] ADD  CONSTRAINT [DF_CF_Ban_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_BangGia_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_BangGia] ADD  CONSTRAINT [DF_CF_BangGia_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_BangGia_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_BangGia] ADD  CONSTRAINT [DF_CF_BangGia_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_ChiNhanh_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiNhanh] ADD  CONSTRAINT [DF_CF_ChiNhanh_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_ChiNhanh_ReportBill]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiNhanh] ADD  CONSTRAINT [DF_CF_ChiNhanh_ReportBill]  DEFAULT ((80)) FOR [ReportBill]
GO
/****** Object:  Default [DF_CF_ChiNhanh_GiaoDienApDung]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiNhanh] ADD  CONSTRAINT [DF_CF_ChiNhanh_GiaoDienApDung]  DEFAULT ((0)) FOR [GiaoDienApDung]
GO
/****** Object:  Default [DF_CF_ChiNhanh_TaoDaTaMau]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiNhanh] ADD  CONSTRAINT [DF_CF_ChiNhanh_TaoDaTaMau]  DEFAULT ((0)) FOR [DuLieuMau]
GO
/****** Object:  Default [DF_CF_ChiTietBangGia_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietBangGia] ADD  CONSTRAINT [DF_CF_ChiTietBangGia_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_ChiTietBangGia_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietBangGia] ADD  CONSTRAINT [DF_CF_ChiTietBangGia_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_ChiTietGio_DonGia]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietGio] ADD  CONSTRAINT [DF_CF_ChiTietGio_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
/****** Object:  Default [DF_CF_ChiTietGio_ThanhTien]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietGio] ADD  CONSTRAINT [DF_CF_ChiTietGio_ThanhTien]  DEFAULT ((0)) FOR [ThanhTien]
GO
/****** Object:  Default [DF_CF_ChiTietGio_TrangThai]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietGio] ADD  CONSTRAINT [DF_CF_ChiTietGio_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
/****** Object:  Default [DF_CF_ChiTietGio_ThanhToan]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietGio] ADD  CONSTRAINT [DF_CF_ChiTietGio_ThanhToan]  DEFAULT ((0)) FOR [ThanhToan]
GO
/****** Object:  Default [DF_CF_ChiTietHoaDon_SoLuong]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietHoaDon] ADD  CONSTRAINT [DF_CF_ChiTietHoaDon_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
/****** Object:  Default [DF_CF_ChiTietHoaDon_DonGia]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietHoaDon] ADD  CONSTRAINT [DF_CF_ChiTietHoaDon_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
/****** Object:  Default [DF_CF_ChiTietHoaDon_ThanhTien]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietHoaDon] ADD  CONSTRAINT [DF_CF_ChiTietHoaDon_ThanhTien]  DEFAULT ((0)) FOR [ThanhTien]
GO
/****** Object:  Default [DF_CF_ChiTietHoaDon_TrongLuong]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietHoaDon] ADD  CONSTRAINT [DF_CF_ChiTietHoaDon_TrongLuong]  DEFAULT ((0)) FOR [TrongLuong]
GO
/****** Object:  Default [DF_CF_ChiTietHoaDon_Temp_TrongLuong]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_ChiTietHoaDon_Temp] ADD  CONSTRAINT [DF_CF_ChiTietHoaDon_Temp_TrongLuong]  DEFAULT ((0)) FOR [TrongLuong]
GO
/****** Object:  Default [DF_CF_DonViTinh_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_DonViTinh] ADD  CONSTRAINT [DF_CF_DonViTinh_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_DonViTinh_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_DonViTinh] ADD  CONSTRAINT [DF_CF_DonViTinh_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_Gio_TyLe]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_Gio] ADD  CONSTRAINT [DF_CF_Gio_TyLe]  DEFAULT ((0)) FOR [TyLe]
GO
/****** Object:  Default [DF_CF_HangHoa_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HangHoa] ADD  CONSTRAINT [DF_CF_HangHoa_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_HangHoa_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HangHoa] ADD  CONSTRAINT [DF_CF_HangHoa_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_HoaDon_TrangThai]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
/****** Object:  Default [DF_CF_HoaDon_TongTien]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_TongTien]  DEFAULT ((0)) FOR [TongTien]
GO
/****** Object:  Default [DF_CF_HoaDon_GiamGia]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_GiamGia]  DEFAULT ((0)) FOR [GiamGia]
GO
/****** Object:  Default [DF_CF_HoaDon_KhachCanTra]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_KhachCanTra]  DEFAULT ((0)) FOR [KhachCanTra]
GO
/****** Object:  Default [DF_CF_HoaDon_KhachThanhToan]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_KhachThanhToan]  DEFAULT ((0)) FOR [KhachThanhToan]
GO
/****** Object:  Default [DF_CF_HoaDon_TienThua]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_TienThua]  DEFAULT ((0)) FOR [TienThua]
GO
/****** Object:  Default [DF_CF_HoaDon_TienGio]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_TienGio]  DEFAULT ((0)) FOR [TienGio]
GO
/****** Object:  Default [DF_CF_HoaDon_TrangThaiKetCa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_TrangThaiKetCa]  DEFAULT ((0)) FOR [TrangThaiKetCa]
GO
/****** Object:  Default [DF_CF_HoaDon_LanIn]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_LanIn]  DEFAULT ((0)) FOR [LanIn]
GO
/****** Object:  Default [DF_CF_HoaDon_HinhThucGiamGia]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_HinhThucGiamGia]  DEFAULT ('$') FOR [HinhThucGiamGia]
GO
/****** Object:  Default [DF_CF_HoaDon_TienGiamGia]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_TienGiamGia]  DEFAULT ((0)) FOR [TienGiamGia]
GO
/****** Object:  Default [DF_CF_HoaDon_TyLeGiamGia]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_TyLeGiamGia]  DEFAULT ((0)) FOR [TyLeGiamGia]
GO
/****** Object:  Default [DF_CF_HoaDon_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_HoaDon] ADD  CONSTRAINT [DF_CF_HoaDon_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_KetCa_TongTienSauCa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_KetCa] ADD  CONSTRAINT [DF_CF_KetCa_TongTienSauCa]  DEFAULT ((0)) FOR [TongTienSauCa]
GO
/****** Object:  Default [DF_CF_KetCa_TienGio]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_KetCa] ADD  CONSTRAINT [DF_CF_KetCa_TienGio]  DEFAULT ((0)) FOR [TongTien]
GO
/****** Object:  Default [DF_CF_KetCa_TienNuoc]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_KetCa] ADD  CONSTRAINT [DF_CF_KetCa_TienNuoc]  DEFAULT ((0)) FOR [GiamGia]
GO
/****** Object:  Default [DF_CF_KhuVuc_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_KhuVuc] ADD  CONSTRAINT [DF_CF_KhuVuc_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_KhuVuc_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_KhuVuc] ADD  CONSTRAINT [DF_CF_KhuVuc_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_KhuVuc_IDBangGia]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_KhuVuc] ADD  CONSTRAINT [DF_CF_KhuVuc_IDBangGia]  DEFAULT ((0)) FOR [IDBangGia]
GO
/****** Object:  Default [DF_CF_LichSuThayDoiGia_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_LichSuThayDoiGia] ADD  CONSTRAINT [DF_CF_LichSuThayDoiGia_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_NguoiDung_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_NguoiDung] ADD  CONSTRAINT [DF_CF_NguoiDung_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_NguoiDung_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_NguoiDung] ADD  CONSTRAINT [DF_CF_NguoiDung_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_NhomHangHoa_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_NhomHangHoa] ADD  CONSTRAINT [DF_CF_NhomHangHoa_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_CF_NhomHangHoa_IDChiNhanh]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_NhomHangHoa] ADD  CONSTRAINT [DF_CF_NhomHangHoa_IDChiNhanh]  DEFAULT ((0)) FOR [IDChiNhanh]
GO
/****** Object:  Default [DF_CF_TongChi_DaXoa]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[CF_TongChi] ADD  CONSTRAINT [DF_CF_TongChi_DaXoa]  DEFAULT ((0)) FOR [DaXoa]
GO
/****** Object:  Default [DF_Setting_TinhGio]    Script Date: 04/29/2018 14:31:34 ******/
ALTER TABLE [dbo].[Setting] ADD  CONSTRAINT [DF_Setting_TinhGio]  DEFAULT ((0)) FOR [TinhGio]
GO
