<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QLCafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QLCafe.Properties.Settings.gpm_codeCaFeMienPhiConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\gpmcafe.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BanHangConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\gpmcafe.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="connectString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\gpmcafe.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLCafe.Properties.Settings.gpmcafeConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\gpmcafe.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <QLCafe.Properties.Settings>
            <setting name="SkinName" serializeAs="String">
                <value>The Bezier</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ckluu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StringConnect" serializeAs="String">
                <value>Data Source=.;Initial Catalog=gpm_codeCaFeMienPhi;Integrated Security=True</value>
            </setting>
            <setting name="NumBillPrint" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CBPrintBill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SizeHangHoa" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SizeTenNhomHang" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SizeBan" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="SizeTenKhuVuc" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PaletteName" serializeAs="String">
                <value>Gloom Gloom</value>
            </setting>
            <setting name="StyleItemBan" serializeAs="String">
                <value>Wide</value>
            </setting>
            <setting name="StyleItemHangHoa" serializeAs="String">
                <value>Default</value>
            </setting>
        </QLCafe.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
