<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnGiang.Properties.Settings.AnGiangConnectionString"
            connectionString="Data Source=115.79.221.89,1433;Initial Catalog=AnGiang;User ID=PhaAnGiang;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>